<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %> 

<body>
    <h1>Edit <%= movement.name %></h1>
    <form action="/movements/<%= movement._id %>?_method=PUT" method="POST">
        <label>
            Name:
            <input type="text" name="name" value="<%= movement.name %>">
        </label>
        <label>
            Description:
            <input type="text" name="description" value="<%= movement.description %>">
        </label>
        <label class="muscles">
            Muscles Worked:
            <% movement.musclesWorked.forEach(function (muscle) { %>
                <input type="text" name="musclesWorked" value="<%= muscle %>">
                <p class="delete">Delete muscle</p>
            <% }); %>
            <p class="add">Add muscle</p>
        </label>
        <br>
        <input type="submit" value="Submit Changes">
    </form>

    <%- include('./partials/footer'); %> 

</body>
</html>