<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>

<body>
    <div class="container">
        <% if (viewer) { %>
            <h1><%= user.username.replace(user.username.charAt(0), user.username.charAt(0).toUpperCase())%></h1>
        <% } else { %>
            <h1>Hello, <%= user.firstName.replace(user.firstName.charAt(0), user.firstName.charAt(0).toUpperCase()) %>!</h1>
        <% } %>
            <% if (user.profilePhoto !== 'none') { %>
                <img src="<%= user.profilePhoto %>" alt="<%= user.firstName %>'s profile photo" width="100px" height="100px">
            <% } else { %>
                <h5>no image to display</h5>
            <% } %>
            <% if (!viewer) { %>
            <form action="/users/me/photo/edit/?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="file" name="profilePhoto" id="profilePhoto">
                <input type="submit" value="Upload Photo">
            </form>
            <% } %>
            <h5>Friends list</h5>
            <% if (viewer) { %>
                <% if (existingRequest !== null) { %>
                    <h3>Request Pending</h3>
                <% } else { %>
                    <form action="/users/request" method="POST">
                        <input type="hidden" name="from" value="<%= viewer %>">
                        <input type="hidden" name="to" value="<%= user._id %>">
                        <input type="submit" value="Request Friend">
                    </form>
                <% } %>
            <% } else { %>
                <h5>Pending Requests</h5>
                <% if (requests) { %>
                    <ul>
                        <% for (i = 0; i < requests.length; i++) { %>
                            <li>
                                <a href="/users/profile/<%= requests[i].from.username %>">
                                    <%= requests[i].from.username %>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
            <% } %>
            <h5>Add friends</h5>
            <h5>Favorite Workouts</h5>
            <h5>Muscle distribution</h5>
                <p>Weekly</p>
                <p>Daily?</p>
        </div>



    <%- include('./partials/footer'); %>

</body>

</html>