<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body>
    <div class="container">
        <%- include('./partials/nav'); %>
        <div class="container-md">
            <div class="row justify-content-between">
                <div class="col-md-5">
                    <% if (viewer) { %>
                        <h1 class="text-capitalize"><%= user.username %></h1>
                    <% } else { %>
                        <h1 class="text-capitalize">Hello, <%= user.firstName%>!</h1>
                    <% } %>
                    <br>
                    <% const date = new Date(user.createdAt) %>
                    <p class="fs-7 fst-italic">Member Since:
                        <%= new Intl.DateTimeFormat('en-US', { month: 'long', year: 'numeric'}).format(date) %></p>
                    <br>
                    <br>
                    <div class="center">
                        <img src="<%= user.profilePhoto %>" alt="<%= user.username %>'s profile photo" class="rounded" style="height:40%; width:40%;">
                    </div>

                    <form action="/users/me/photo/edit/?_method=PUT" method="POST" enctype="multipart/form-data"
                        class="d-none userPhoto mt-4">
                        <div class="form-group">
                            <input type="file" name="profilePhoto" id="profilePhoto" class="form-control-file small-text">
                            <input type="submit" value="Update Photo" class="btn btn-outline-dark btn-xs mt-1" disabled>
                        </div>
                    </form>

                    <br>
                    <% if (user.bio) %> <p class="fst-italic userBio my-4"><%= user.bio %></p>
                    <form action="/users/me/bio/edit/?_method=PUT" method="POST" class="d-none userBioForm">
                        <div class="form-floating">
                            <textarea name="bio" class="form-control select-text" rows="3" maxlength="100" style="height:50%"><%= user.bio %></textarea>
                            <label class="small-text" for="bio">Bio</label>
                        </div>
                        <input type="submit" value="Update Bio" class="btn btn-outline-dark btn-xs mt-2">
                    </form>
                </div>
                
                <% if (exerciseStats) { %>
                    <div class="col-md-5">
                        <br>
                        <h5>Muscle Distribution</h5>
                        <br>
                        <div class="h-50 center">
                            <canvas id="muscleDoughnut" width="100%" height="80%"></canvas>
                        </div>

                        <script defer>
                            $(document).ready(function () {
                                const muscles = JSON.parse('<%- JSON.stringify(exerciseStats.musclePercent) %>');
                                // Access the data from the EJS template variable

                                // Get the canvas element and create the doughnut chart
                                const dough = document.getElementById('muscleDoughnut').getContext('2d');

                                new Chart(dough, {
                                    type: 'doughnut',
                                    data: {
                                        labels: Object.keys(muscles),
                                        datasets: [{
                                            data: Object.values(muscles),
                                            backgroundColor: [
                                                '#4d456d',
                                                '#795389', 
                                                '#a4628a',
                                                '#d38595',
                                                '#e9a7a3',
                                                '#aec6a5',
                                                '#7ba1ab',
                                                '#657ba3',
                                                '#5a5f92',
                                                '#7d7db7',
                                                '#ad96cf',
                                                '#e6addd'
                                            ],
                                        }],
                                    },
                                    options: { responsive: true }
                                });
                            });
                        </script>

                        <div class="right mt-5">
                            <h5 class="my-2">Cardiovascular Stats</h5>
                            <table class="table w-100 text-center">
                                <thead>
                                    <tr>
                                        <th class="small-text">Minutes</th>
                                        <th class="small-text">Calories Burned</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="small-text"><%= exerciseStats.cardioStats.totalMinutes %></td>
                                        <td class="small-text"><%= exerciseStats.cardioStats.totalCalories %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% } %>
            </div>

            <br>
            
            <div class="row justify-content-between">
                <% if (viewer) { %>
                    <div class="col-md-5 mb-4">
                        <% if (existingRequest === null) { %>
                            <form action="/users/request" method="POST">
                                <input type="hidden" name="from" value="<%= viewer %>">
                                <input type="hidden" name="to" value="<%= user._id %>">
                                <input type="submit" value="Request Friend" class="btn btn-outline-warning btn">
                            </form>
                        <% } else if (existingRequest.status === 'pending') { %>
                            <h5>Request Pending</h5>
                        <% } else if (existingRequest.status === 'accepted') { %>
                            <a href="/favorites">Click here to browse <%= user.username %>'s favorites</a>
                        <% } %>
                    </div>
                <% } else { %>
                    <div class="col-md-5 mb-3">
                        <h5 id="pendingCollapse" class="btn btn-outline-secondary btn-sm">Pending Requests</h5>
                        <div id="pendingList" style="display: none;">
                            <ul>
                                <% if (awaiting.length > 0) { %>
                                    <% for (const request of awaiting) { %>
                                        <% const pending = request.to._id.toHexString() === user._id.toHexString() ? request.from : request.to %>
                                        <% if (pending === request.from) { %>
                                            <li class="py-1 px-3">
                                                <a href="/users/<%= pending.username %>/profile"><%= pending.username %></a>
                                                <form action="/users/request/edit/?_method=PUT" method="POST">
                                                    <input type="hidden" name="requestId" value="<%= request._id %>">
                                                    <input type="submit" name="decision" value="Accept" class="btn btn-outline-success btn-xs">
                                                    <input type="submit" name="decision" value="Decline" class="btn btn-outline-danger btn-xs">
                                                </form>
                                            </li>
                                        <% } else if (pending === request.to) { %>
                                        <li class="py-1 px-3">
                                            <a class="text-capitalize" href="/users/<%= pending.username %>/profile"><p><%= pending.username %></p></a>
                                        </li>
                                        <% } %>
                                    <% } %>
                                <% } else { %>
                                    <li class="py-1 px-3">No Pending Requests</li>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-5 mb-3">
                        <h5 id="friendsCollapse" class="btn btn-outline-secondary btn-sm">Friends List
                        </h5>
                        <div id="friendsList" style="display: none;">
                            <ul>
                                <% if (friendships.length > 0) { %>
                                    <!-- friendships is array of object hosting the friendship, need access to user's other half of friendship -->
                                    <% for (const friendship of friendships) { %>
                                        <% const friend = friendship.to._id.toHexString() === user._id.toHexString() ? friendship.from : friendship.to %>
                                        <li class="py-1 px-3">
                                            <a class="text-capitalize" href="/users/<%= friend.username %>/profile"><p><%= friend.username %></p></a>
                                        </li>
                                    <% } %>
                                <% } else { %>
                                    <li><p>No Friends</p></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                <% } %>
            </div>

            <% if (!viewer) { %>
                <div class="right mb-5">
                    <button class="btn btn-outline-warning mt-1 btn-sm" id="editProfile">Edit Profile</button>
                </div>
            <% } %>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>

</html>