<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body>
    <div class="container-fluid">
        <%- include('./partials/nav'); %>
        <div class="container-lg">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <% if (viewer) { %>
                        <h1 class="text-capitalize"><%= user.username %></h1>
                    <% } else { %>
                        <h1 class="text-capitalize">Hello, <%= user.firstName%>!</h1>
                    <% } %>
                    <br>
                    <% const date = new Date(user.createdAt) %>
                    <p class="fs-6 fst-italic">Member Since:
                        <%= new Intl.DateTimeFormat('en-US', { month: 'long', year: 'numeric'}).format(date) %></p>
                    <br>
                    <br>
                    <div class="center">
                        <img src="<%= user.profilePhoto %>" alt="<%= user.username %>'s profile photo" class="rounded my-5 w-50 h-40">
                    </div>

                    <form action="/users/me/photo/edit/?_method=PUT" method="POST" enctype="multipart/form-data"
                        class="d-none userPhoto">
                        <div class="form-group">
                            <input type="file" name="profilePhoto" id="profilePhoto" class="form-control-file">
                            <input type="submit" value="Update Photo" class="btn btn-outline-dark btn-sm mt-3" disabled>
                        </div>
                    </form>

                    <br>
                    <% if (user.bio) %> <p class="fst-italic userBio my-5"><%= user.bio %></p>
                    <form action="/users/me/bio/edit/?_method=PUT" method="POST" class="d-none userBioForm">
                        <div class="form-floating">
                            <textarea name="bio" class="form-control" rows="4" maxlength="100" style="height:100%"><%= user.bio %></textarea>
                            <label for="bio">Bio</label>
                        </div>
                        <input type="submit" value="Update Bio" class="btn btn-outline-dark btn-sm mt-3">
                    </form>
                </div>
                
                <% if (exerciseStats) { %>
                    <div class="col-lg-6">
                        <br>
                        <h5 class="mt-4">Muscle Distribution</h5>
                        <br>
                        <div class="h-50 center my-2">
                            <canvas id="muscleDoughnut" width="100%" height="80%"></canvas>
                        </div>

                        <script defer>
                            $(document).ready(function () {
                                const muscles = JSON.parse('<%- JSON.stringify(exerciseStats.musclePercent) %>');
                                // Access the data from the EJS template variable

                                // Get the canvas element and create the doughnut chart
                                const dough = document.getElementById('muscleDoughnut').getContext('2d');

                                new Chart(dough, {
                                    type: 'doughnut',
                                    data: {
                                        labels: Object.keys(muscles),
                                        datasets: [{
                                            data: Object.values(muscles),
                                            backgroundColor: [
                                                '#f21821','blue',
                                                'green',
                                                'orange',
                                                'purple',
                                                'pink',
                                                'brown',
                                                'black',
                                                'gray',

                                            ],
                                        }],
                                    },
                                    options: { responsive: true }
                                });
                            });
                        </script>

                        <div class="right my-5">
                            <h5 class="my-3">Cardiovascular Stats</h5>
                            <table class="table w-50 text-center mt-3">
                                <thead>
                                    <tr>
                                        <th>Minutes</th>
                                        <th>Calories Burned</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><%= exerciseStats.cardioStats.totalMinutes %></td>
                                        <td><%= exerciseStats.cardioStats.totalCalories %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% } %>
            </div>

            <br>
            <br>
            
            <div class="row justify-content-between">
                <% if (viewer) { %>
                    <div class="col-lg-4 mb-5">
                        <% if (existingRequest === null) { %>
                            <form action="/users/request" method="POST">
                                <input type="hidden" name="from" value="<%= viewer %>">
                                <input type="hidden" name="to" value="<%= user._id %>">
                                <input type="submit" value="Request Friend">
                            </form>
                        <% } else if (existingRequest.status === 'pending') { %>
                            <h5>Request Pending</h5>
                        <% } else if (existingRequest.status === 'accepted') { %>
                            <h5>You can now share your favorite workouts with <p class="text-capitalize"><%= user.username %>!</p></h5>
                            <a href="/favorites">Click here to browse favorites</a>
                        <% } %>
                    </div>
                <% } else { %>
                    <div class="col-lg-4 mb-5">
                        <h5>Pending Requests</h5>
                        <ul>
                            <% if (awaiting.length > 0) { %>
                                <% for (const request of awaiting) { %>
                                    <% const pending = request.to._id.toHexString() === user._id.toHexString() ? request.from : request.to %>
                                    <% if (pending === request.from) { %>
                                        <li class="py-1 px-3">
                                            <a href="/users/profile/<%= pending.username %>"><%= pending.username %></a>
                                            <form action="/users/request/edit/?_method=PUT" method="POST">
                                                <input type="hidden" name="requestId" value="<%= request._id %>">
                                                <input type="submit" name="decision" value="Accept" class="btn btn-outline-success btn-sm">
                                                <input type="submit" name="decision" value="Decline" class="btn btn-outline-danger btn-sm">
                                            </form>
                                        </li>
                                    <% } else if (pending === request.to) { %>
                                    <li class="py-1 px-3">
                                        <a class="text-capitalize" href="/users/profile/<%= pending.username %>"><%= pending.username %></a>
                                    </li>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <li class="py-1 px-3">No Pending Requests</li>
                            <% } %>
                        </ul>
                    </div>

                    <div class="col-lg-4 mb-5">
                        <h5>Friends List</h5>
                        <ul>
                            <% if (friendships.length > 0) { %>
                                <!-- friendships is array of object hosting the friendship, need access to user's other half of friendship -->
                                <% for (const friendship of friendships) { %>
                                    <% const friend = friendship.to._id.toHexString() === user._id.toHexString() ? friendship.from : friendship.to %>
                                    <li class="py-1 px-3">
                                        <a class="text-capitalize" href="/users/profile/<%= friend.username %>"><%= friend.username %></a>
                                    </li>
                                <% } %>
                            <% } else { %>
                                <li>No friends</li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>

            <% if (!viewer) { %>
                <div class="right mb-5">
                    <button class="btn btn-outline-warning mt-1" id="editProfile">Edit Profile</button>
                </div>
            <% } %>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>

</html>