<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body>
    <div class="container">
        <%- include('./partials/nav'); %>
        <div class="container-md">
            <div class="center mb-5">
                <div class="w-75 vert-index">
                    <h2>Search for Users</h2>
                    <form action="/users/search" method="POST" autocomplete="off" class="form">
                        <div class="mb-2 form-floating">
                            <input type="text" name="searchTerm" class="form-control form-control-sm h-25" id="searchTerm" required>
                            <label class="small-text" for="searchTerm">Search by Username</label>
                        </div>
                        <div class="center">
                            <% if (error) { %>
                                <span class="text-danger my-2 fw-bold"><%= error %></span>
                            <% } %>
                        </div>
                        <br>
                        <div class="mb-3 center">
                            <input type="submit" value="Search" class="btn btn-outline-secondary btn-sm">
                        </div>
                    </form>
                </div>
            </div>
                <% if (searchResults) { %>
                    <div class="mb-5 center">
                        <ul class="index-grid w-75 mx-3">
                            <% for (const user of searchResults) { %>
                                <li class="text-center">
                                    <a href="/users/profile/<%= user.username %>" class="text-capitalize">
                                        <img src="<%= user.profilePhoto %>" alt="<%= user.username %>'s profile photo" class="rounded" width="60px" height="60px">
                                        <br>
                                        <p><%= user.username %></p>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
        </div>
    </div>
    <%- include('./partials/footer'); %>
</body>

</html>