<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %> 
<%- include('./partials/nav'); %> 

<body>
    <h1>Add a New Workout</h1>
    <form action="/workouts" method="POST">
        <Label>
            Select Day:
            <select name="day" required>
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
            </select>
        </Label>
        <label>
            Select Movement
            <select name="exercise[name]" required>
                <% movements.forEach(function (movement) { %>
                    <option value="<%= movement.name %>"><%= movement.name %></option>
                <% }); %>
            </select>
        </label>
        <label>
            Weight
            <input type="number" name="exercise[weight]" min="0" required>
        </label>
        <label>
            Sets
            <input type="number" name="exercise[sets]" min="1" required>
        </label>
        <label>
            Repetitions per Set
            <input type="number" name="exercise[reps]" min="1" required>
        </label>
        <label>
            Select Movement
            <select name="exercise[name]" required>
                <% movements.forEach(function (movement) { %>
                    <option value="<%= movement.name %>"><%= movement.name %></option>
                <% }); %>
            </select>
        </label>
        <label>
            Weight
            <input type="number" name="exercise[weight]" min="0" required>
        </label>
        <label>
            Sets
            <input type="number" name="exercise[sets]" min="1" required>
        </label>
        <label>
            Repetitions per Set
            <input type="number" name="exercise[reps]" min="1" required>
        </label>
        <input type="submit" value="Add Workout">
    </form>

    <%- include('./partials/footer'); %> 
    
</body>
</html>