<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %> 
<%- include('./partials/nav'); %> 

<body>
    <h1>Workout Index</h1>

    <% workouts.forEach(function (workout, index) { %>
        <div>
            <a href="/workouts/<%= workout._id %>"><%= workout.day %></a>
            <ul>
                <% for (i = 0; i < workout.exercise.length; i ++) { %>
                <li>
                    <%= workout.exercise[i].name %>
                </li>
                <% } %> 
            </ul>
            <div>
                <a href="/workouts/<%=workout._id %>/edit">Edit workout</a>
                <form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Workout">
                </form>
            </div>
        </div>
    <% }); %> 

    <%- include('./partials/footer'); %> 
    
</body>
</html>