<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <div class="container-fluid">
        <%- include('../partials/nav'); %>
        <div class="container">
            <h2>Favorite Workouts</h2>
            <ul class="index">
                <% displayFavorite(0); %>
                <% function displayFavorite (index) { %>
                    <% if (favorites.length === 0) { %>
                        <div class="center mb-5">
                            <a href="/workouts/new" class="btn btn-outline-secondary btn-lg">Save workouts by adding them to
                                your favorites!</a>
                        </div>
                        <% return; %>
                    <% } %>

                    <% if (index === favorites.length) return; %>
                    <% const favorite = favorites[index]; %>

                    <div class="card m-4">
                        <a href="favorites/<%= favorite._id %>">
                            <h4 class="text-capitalize"><%= favorite.name %></h4>
                        </a>
                        <li class="card-body center">
                            <% for (const exercise of favorite.exercise) { %>
                                <%= exercise.movement.name %>
                                <br>
                            <% } %>
                        </li>
                        </a>
                        <div class="card-footer">
                            <p>
                                <form action="/favorites/<%= favorite._id %>/remove?_method=PUT" method="POST">
                                    <input type="submit" value="Remove Favorite" class="btn btn-outline-danger btn-sm ">
                                </form>
                            </p>
                        </div>
                    </div>
                    <% displayFavorite(index + 1) %>
                <% } %>
            </ul>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>