<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>


<body>
    <div class="container">
        <%- include('../partials/nav'); %>
        <div class="container-md">
            <h2 class="text-capitalize"><%= favorite.name %></h2>
            <div class="right index my-1">
                <button 
                class="btn <%= favorite.isPublic ? 'btn-success' : 'btn-danger' %> btn-xs mb-2 isPublic" 
                id="<%= favorite._id %>">
                <%= favorite.isPublic ? 'Public' : 'Private' %>
            </button>            
            </div>
            <div class="index">
                <% for (const exercise of favorite.exercise) { %>
                    <div class="exercise m-2">
                        <h4><%= exercise.movement.name %></h4>
                        <% if (exercise.movement.type === 'weighted') { %>
                            <p>Weight: <%= exercise.weight %></p>
                            <p>Sets: <%= exercise.sets %></p>
                            <p>Repetitions per Set: <%= exercise.reps %></p>
                        <% } %>
                        <% if (exercise.movement.type === 'cardio') { %>
                            <p>Duration: <%= exercise.minutes %> minutes</p>
                            <p>Calories Burned: <%= exercise.caloriesBurned %></p>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <br>
            <br>
            <div class="mb-1">
                <button class="btn btn-outline-warning btn-xs mb-2" id="copy">Copy to Workouts</button>
                <form class="d-none copy" action="/favorites/<%= favorite._id %>/copy" method="POST">
                    <input type="hidden" name="id" value="<%= favorite._id %>">
                    <div class="w-50">
                        <label class="fs-6 fst-italic mb-2" for="day">Select Day:</label>
                        <input class="form-control" type="date" placeholder="Select Day:" name="day" required
                            min="<%= new Date().toISOString().split('T')[0] %>"
                            max="<%= new Date(new Date().setDate(new Date().getDate() + 30)).toISOString().split('T')[0] %>">
                    </div>
                    <div class="right">
                        <input type="submit" value="Create Workout" class="btn btn-outline-success btn-xs mt-1 mb-2 mx-3">
                    </div>
                </form>
            </div>
            <div class="center">
                <a href="/favorites" class="btn btn-outline-secondary btn-sm mt-3 mb-5">Back to Favorites</a>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>