<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<% const daysOfTheWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>

<body>
    <div class="container-fluid">
        <%- include('../partials/nav'); %>
        <div class="container">
            <h2 class="text-capitalize"><%= favorite.name %></h2>
            <div class="index">
                <% for (const exercise of favorite.exercise) { %>
                    <div class="exercise m-4">
                        <h3><%= exercise.movement.name %></h3>
                        <% if (exercise.movement.type === 'weighted') { %>
                            <p>Weight: <%= exercise.weight %></p>
                            <p>Sets: <%= exercise.sets %></p>
                            <p>Repetitions per Set: <%= exercise.reps %></p>
                        <% } %>
                        <% if (exercise.movement.type === 'cardio') { %>
                            <p>Duration: <%= exercise.minutes %> minutes</p>
                            <p>Calories Burned: <%= exercise.caloriesBurned %></p>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <br>
            <br>
            <div class="mb-2">
                <button class="btn btn-outline-info btn-sm mb-3" id="share">Share Favorite</button>
                <form class="d-none share" action="/favorites/<%= favorite._id %>/share" method="POST">
                    <input type="hidden" name="id" value="<%= favorite._id %>">
                    <p class="fs-6 fst-italic">Select a Friend:</p>
                    <select id="friends" name="friend" class="form-select" size="4" required>
                        <% for (const friend of friends) { %>
                            <option value="<%= friend._id %>" class="text-capitalize"><%= friend.username %></option>
                        <% } %>
                    </select>
                    <div class="right">
                        <input type="submit" value="Submit Share" class="btn btn-outline-success btn-sm mt-2 mb-4">
                    </div>
                </form>
            </div>
            <div class="mb-4">
                <button class="btn btn-outline-warning btn-sm mb-2" id="copy">Copy to Workouts</button>
                <form class="d-none copy" action="/favorites/<%= favorite._id %>/copy" method="POST">
                    <input type="hidden" name="id" value="<%= favorite._id %>">
                    <p class="fs-6 fst-italic">Select Day:</p>
                    <select name="day" class="form-select" size="4" required>
                        <% for (const day of daysOfTheWeek) { %>
                            <option value="<%= day %>"><%= day %></option>
                        <% } %>
                    </select>
                    <div class="right">
                        <input type="submit" value="Create Workout" class="btn btn-outline-success btn-sm mt-2 mb-4">
                    </div>
                </form>
            </div>
            <div class="center">
                <a href="/favorites" class="btn btn-outline-secondary my-5">Back to Favorites</a>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>