<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>

<% const daysOfTheWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %>

<body>
    <h2>Edit Workout</h2>
    <div class="container-fluid">
        <form action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
            <div class="row md-5">
                <Label>
                    Select Day:
                    <select name="day" class="form-select form-select-lg" size="3" required>
                        <% for (i = 0; i < daysOfTheWeek.length; i++) { %>
                        <option value="<%= daysOfTheWeek[i] %>" <% if (workout.day === daysOfTheWeek[i]) { %> selected
                            <% } %>>
                            <%= daysOfTheWeek[i] %>
                        </option>
                        <% } %>
                    </select>
                </Label>
            </div>
            <h4>Exercise Details</h4>
            <div class="inputParent">
                <% for (i = 0; i < workout.exercise.length; i++) { %>
                <div class="inputChild">
                    <div class="index">
                        <label>
                            Select Movement
                            <select name="exercise[movement]" class="form-select" size="6" required>
                                <% movements.forEach(function (movement) { %>
                                <option value="<%= movement._id %>"
                                    <% if (workout.exercise[i].movement.name === movement.name) { %> selected <% } %>>
                                    <%= movement.name %>
                                </option>
                                <% }); %>
                            </select>
                        </label>
                        <div class="right">
                            <div class="form-floating">
                                <input type="number" name="exercise[weight]" min="0"  class="form-control"
                                    id="weight" value="<%= workout.exercise[i].weight %>">
                                <label for="weight">Weight</label>
                            </div>
                            <div class="form-floating">
                                <input type="number" name="exercise[sets]" min="1"  class="form-control"
                                    id="sets" value="<%= workout.exercise[i].sets %>">
                                <label for="sets">Sets</label>
                            </div>
                            <div class="form-floating">
                                <input type="number" name="exercise[reps]" min="1"  class="form-control"
                                    id="reps" value="<%= workout.exercise[i].reps %>">
                                <label for="reps">Repetitions per Set</label>
                            </div>
                            <div class="form-floating">
                                <input type="number" name="exercise[minutes]" min="1" class="form-control"
                                    id="minutes" value="<%= workout.exercise[i].minutes %>">
                                <label for="reps">Minutes</label>
                            </div>
                            <div class="form-floating">
                                <input type="number" name="exercise[caloriesBurned]" min="1" class="form-control"
                                    id="calories" value="<%= workout.exercise[i].caloriesBurned %>">
                                <label for="reps">Calories Burned</label>
                            </div>
                            <br>
                            <p class="btn btn-outline-danger btn-sm delete">Delete Exercise</p>
                        </div>
                    </div>
                    <br>
                </div>
                <% } %>
            </div>
            <div class="mb-3 right">
                <p class="btn btn-outline-success btn-sm add">Add Another Exercise</p>
            </div>
            <div class="mb-5 center">
                <input type="submit" value="Update Workout" class="btn btn-outline-secondary btn-lg mb-5">
            </div>
        </form>
    </div>

    <%- include('../partials/footer'); %>

</body>

</html>