<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<% const daysOfTheWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>

<body>
    <div class="container-fluid">
        <%- include('../partials/nav'); %>
        <div class="container">
            <h2>Create Workout</h2>
            <form action="/workouts" method="POST">
                <div class="row mb-3">
                    <div>
                        <p class="fs-6 fst-italic">Select Day:</p>
                        <select name="day" class="form-select form-select-lg" size="4" required>
                            <% for (const day of daysOfTheWeek) { %>
                                <option value="<%= day %>"><%= day %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <h4 class="mt-4">Exercise Details</h4>
                <div class="workoutInputParent">
                    <div class="workoutInputChild">
                        <div class="index">
                            <div class="p-3 mt-3">
                                <p class="fs-6 fst-italic">Select Movement:</p>
                                <select name="exercise[movement][]" class="form-select mb-3" size="7" required>
                                    <% for (const movement of movements) { %>
                                        <option value="<%= movement._id %>"><%= movement.name %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="right">
                                <div class="form-floating">
                                    <input type="number" name="exercise[weight][]" min="0" class="form-control mb-1" id="weight">
                                    <label for="weight">Weight</label>
                                </div>
                                <div class="form-floating">
                                    <input type="number" name="exercise[sets][]" min="1" class="form-control mb-1" id="sets">
                                    <label for="sets">Sets</label>
                                </div>
                                <div class="form-floating">
                                    <input type="number" name="exercise[reps][]" min="1" class="form-control mb-1" id="reps">
                                    <label for="reps">Repetitions per Set</label>
                                </div>
                                <div class="form-floating">
                                    <input type="number" name="exercise[minutes][]" min="1" class="form-control mb-1" id="minutes">
                                    <label for="reps">Minutes</label>
                                </div>
                                <div class="form-floating">
                                    <input type="number" name="exercise[caloriesBurned][]" min="1" class="form-control" id="calories">
                                    <label for="reps">Calories Burned</label>
                                </div>
                                <br>
                                <p class="btn btn-outline-danger btn-sm delete">Delete Exercise</p>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="mb-2 right">
                    <p class="btn btn-outline-success btn-sm add">Add Another Exercise</p>
                </div>
                <br>
                <div class="center mb-5">
                    <input type="submit" value="Add Workout" class="btn btn-outline-secondary btn-lg mb-5">
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>