<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<% const daysOfTheWeek = ['08-18', '08-19', '08-20']; %>

<body>
    <div class="container">
        <%- include('../partials/nav'); %>
        <div class="container-md">
            <h2>Create Workout</h2>
            <form action="/workouts" method="POST">
                <div class="row mb-3 center">
                    <div class="w-50">
                        <label class="fs-6 fst-italic mb-2" for="day">Select Day:</label>
                        <input class="form-control" type="date" placeholder="Select Day:" name="day" required
                            min="<%= new Date().toISOString().split('T')[0] %>"
                            max="<%= new Date(new Date().setDate(new Date().getDate() + 30)).toISOString().split('T')[0] %>">
                    </div>
                </div>
                <h4 class="mt-5 px-5">Exercise Details</h4>
                <div class="workoutInputParent">
                    <div class="workoutInputChild">
                        <div class="index">
                            <div class="p-3">
                                <p class="fs-7 fst-italic">Select Movement:</p>
                                <select name="exercise[movement][]" class="form-select mb-3 movementSelect" size="7" required>
                                    <% for (const movement of movements) { %>
                                        <option class="text-capitalize select-text" value="<%= movement._id %>" data-type="<%= movement.type %>"><%= movement.name %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="right mt-5">
                                <div class="form-floating weightedSection">
                                    <div class="form-floating">
                                        <input type="number" name="exercise[weight][]" min="0" class="form-control form-control-sm mb-1 h-25" id="weight">
                                        <label class="small-text" for="weight">Weight</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="exercise[sets][]" min="1" class="form-control form-control-sm mb-1 h-25" id="sets">
                                        <label class="small-text" for="sets">Sets</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="exercise[reps][]" min="1" class="form-control form-control-sm mb-1 h-25" id="reps">
                                        <label class="small-text" for="reps">Repetitions per Set</label>
                                    </div>
                                </div>
                                <div class="form-floating cardioSection">
                                    <div class="form-floating">
                                        <input type="number" name="exercise[distance][]" min="1" class="form-control form-control-sm mb-1 h-25" id="distance">
                                        <label class="small-text" for="reps">Distance</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="exercise[minutes][]" min="1" class="form-control form-control-sm mb-1 h-25" id="minutes">
                                        <label class="small-text" for="reps">Minutes</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" name="exercise[caloriesBurned][]" min="1" class="form-control form-control-sm h-25" id="calories">
                                        <label class="small-text" for="reps">Calories Burned</label>
                                    </div>
                                </div>
                                <br>
                                <p class="btn btn-outline-danger btn-xs delete">Delete Exercise</p>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="right">
                    <p class="btn btn-outline-success btn-xs add">Add Another Exercise</p>
                </div>
                <br>
                <div class="center mb-5">
                    <input type="submit" value="Add Workout" class="btn btn-outline-secondary workoutSubmit" disabled>
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>