<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<body>
    <div class="container-fluid">
        <%- include('../partials/nav'); %>
        <div class="container">
            <h2>Movements</h2>
            <div class="index center">
                <form action="/movements" method="GET" class="form">
                    <select multiple name="muscle" class="form-select form-select-sm" size="4">
                        <% for (const muscle of muscleGroups) { %>
                            <option name="<%= muscle %>" value="<%= muscle %>">
                            <label for="<%= muscle %>"><%= muscle %></label>
                        <% } %>
                    </select>
                    <input type="submit" value="Add Filter" class="btn btn-outline-info btn-sm mx-5 mt-3">
                    <a href="/movements" class="btn btn-outline-dark btn-sm mx-5 mt-3">Clear Filter</a>
                </form>
            </div>
            <% if (movements.length === 0) { %>
                <br>
                <br>
                <h5 class="center my-5 fw-bold text-danger">No movements found</h5>
            <% } else { %>
                <ul class="row mt-5 mb-4">
                    <% for (const movement of movements) { %>
                        <div class="col-md-4">
                            <li class="m-3 p-2">
                                <h5 class="text-capitalize"><%= movement.name %></h5>
                                <p class="description px-3 py-2"><%= movement.description %></p>
                                <% if (movement.createdBy !== null) { %>
                                    <div class="index">
                                        <a href="/movements/<%= movement._id %>/edit"
                                            class="btn btn-outline-warning btn-sm confirmDelete">Edit</a>
                                            <span class="text-danger fw-bold d-none mb-4 confirmDelete" style="font-size: 12px;">Deleting this movement would delete any associated exercises from your current workouts. Do you want to continue to delete?</span>
                                        <button class="btn btn-outline-danger btn-sm movementDelete">Delete</button>
                                        <form action="/movements/<%= movement._id %>?_method=DELETE" method="POST" class="d-none confirmDelete">
                                            <input type="submit" value="Confirm Delete" class="btn btn-outline-danger btn-sm mx-2">
                                        </form>
                                    </div>
                                <% } %>
                            </li>
                        </div>
                        <% } %>
                </ul>
                <div class="center mb-2 mt-5">
                    <% if (currentPage > 1) { %>
                        <a href="/movements?page=<%= Number(currentPage) - 1 %>" class="btn btn-outline-secondary">Previous</a>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                        <a href="/movements?page=<%= Number(currentPage) + 1 %>" class="btn btn-outline-secondary">Next</a>
                    <% } %>
                </div>
            <% } %>
            <div class="right mb-4">
                <a href="/movements/new" class="btn btn-outline-secondary btn-lg mb-3">Add a New Movement</a>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>