<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>


<body>
    <div class="container">
        <%- include('../partials/nav'); %>
        <div class="container-md">
            <h2>Movements</h2>
            <div class="index center">
                <form action="/movements" method="GET" class="form">
                    <div class="mb-3 index">
                        <div class="form-check">
                            <input type="radio" id="cardio" name="typeFilter" value="cardio" class="form-check-input typeFilter" <% if (typeFilter === 'cardio') { %> checked <% } %>>
                            <label for="cardio" class="form-check-label">Cardio</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="weighted" name="typeFilter" value="weighted" class="form-check-input typeFilter" <% if (typeFilter === 'weighted') { %> checked <% } %>>
                            <label for="weighted" class="form-check-label">Weighted</label>
                        </div>
                    </div>
                    <select multiple name="muscle" class="form-select <% if (!typeFilter || typeFilter === 'cardio') { %> d-none <% } %>" id="muscleFilter" size="4">
                        <% for (const muscle of muscleGroups) { %>
                            <option class="select-text" name="<%= muscle %>" value="<%= muscle %>" <% if (muscleFilter.includes(muscle)) { %> selected <% } %>>
                            <label for="<%= muscle %>"><%= muscle %></label>
                        <% } %>
                    </select>
                    <input type="submit" value="Add Filter" class="btn btn-outline-info btn-xs mx-5 mt-3">
                    <a href="/movements" class="btn btn-outline-dark btn-xs mx-5 mt-3">Clear Filter</a>
                </form>
            </div>
            <% if (movements.length === 0) { %>
                <br>
                <br>
                <h5 class="center my-5 fw-bold text-danger">No movements found</h5>
            <% } else { %>
                <ul class="row mt-5 mb-4">
                    <% for (const movement of movements) { %>
                        <div class="col-md-3">
                            <li class="m-2">
                                <h5 class="text-capitalize"><%= movement.name %></h5>
                                <p class="description px-2 py-2"><%= movement.description %></p>
                                <% if (movement.createdBy !== null) { %>
                                    <div class="index">
                                        <a href="/movements/<%= movement._id %>/edit"
                                            class="btn btn-outline-warning btn-xs confirmDelete">Edit</a>
                                            <span class="text-danger fw-bold d-none mb-4 confirmDelete" style="font-size: 10px;">Deleting this movement would delete any associated exercises from your workouts. Do you want to delete?</span>
                                        <button class="btn btn-outline-danger btn-xs movementDelete">Delete</button>
                                        <form action="/movements/<%= movement._id %>?_method=DELETE" method="POST" class="d-none confirmDelete">
                                            <input type="submit" value="Confirm Delete" class="btn btn-outline-danger btn-sm mx-2">
                                        </form>
                                    </div>
                                <% } %>
                            </li>
                        </div>
                        <% } %>
                </ul>
                <div class="center mb-4">
                    <% if (currentPage > 1) { %>
                        <a href="/movements?page=<%= Number(currentPage) - 1 %>&typeFilter=<%= typeFilter %>&muscle=<%= muscleFilter %>" class="btn btn-outline-secondary btn-xs">Previous</a>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                        <a href="/movements?page=<%= Number(currentPage) + 1 %>&typeFilter=<%= typeFilter %>&muscle=<%= Array.isArray(muscleFilter) ? muscleFilter.join(',') : muscleFilter %>" class="btn btn-outline-secondary btn-xs">Next</a>
                    <% } %>
                </div>                
            <% } %>
            <div class="right mb-2">
                <a href="/movements/new" class="btn btn-outline-secondary mb-3 btn-sm">Add a New Movement</a>
            </div>
        </div>
    </div>
    <%- include('../partials/footer'); %>
</body>

</html>